In [36]:
import pandas as pd
import numpy as np

In [35]:
tumor_subset = pd.read_csv("data/tumor_filtered_py.csv")
tumor_subset

    Unnamed: 0  Group  Day    Size
0           43      1   15  2405.7
1           67      1   14  2162.8
2           80      1   16  2125.1
3           88      1   13  2342.6
4           96      1   13  2295.9
5          130      2   22  2046.7
6          248      2   25  2269.3
7          267      2   27  2114.6
8          277      3   13  2058.7
9          297      3   28  2362.4
10         348      3   27  2157.4
11         362      3   20  2159.6
12         428      3   24  2188.7
13         523      4   22  2343.0

In [33]:
tumor_size_0 = tumor_subset.loc[tumor_subset["Day"] == 0, "Size"]
tumor_size_0

Series([], Name: Size, dtype: float64)

In [31]:
type(tumor_size_0)

pandas.core.series.Series

In [32]:
tumor_size_0.mean()

nan

In [19]:
(tumor_subset
  .loc[tumor_subset["Day"] == 0, "Size"]
  .mean()
)

51.5918918918919

In [15]:
(tumor_subset
  .loc[tumor_subset["Day"] == 1, "Size"]
  .mean()
)

nan

In [16]:
(tumor_subset
  .loc[tumor_subset["Day"] == 2, "Size"]
  .mean()
)

nan

NameError: name 'tumor_subset_13' is not defined

In [38]:
tumor_subset.groupby("Group")["Size"].mean()

Group
1    2266.420000
2    2143.533333
3    2185.360000
4    2343.000000
Name: Size, dtype: float64

In [39]:
tumor_subset.groupby("Group")["Size"].agg(avg_size = np.mean)

          avg_size
Group
1      2266.420000
2      2143.533333
3      2185.360000
4      2343.000000

In [40]:
tumor_subset.groupby("Group").agg(avg_size = ("Size", np.mean))

          avg_size
Group
1      2266.420000
2      2143.533333
3      2185.360000
4      2343.000000

In [41]:
tumor_subset.groupby(["Group", "Day"]).agg(avg_size = ("Size", np.mean))

           avg_size
Group Day
1     13    2319.25
      14    2162.80
      15    2405.70
      16    2125.10
2     22    2046.70
      25    2269.30
      27    2114.60
3     13    2058.70
      20    2159.60
      24    2188.70
      27    2157.40
      28    2362.40
4     22    2343.00

In [49]:
(tumor_subset
  .groupby(["Group", "Day"])
  .agg(
    mean_size = ("Size", np.mean),
    std_size = ("Size", np.std),
    q33_size = ("Size", np.quantile(0.33))
   )
)

TypeError: _quantile_dispatcher() missing 1 required positional argument: 'q'

In [43]:
tumor_subset.describe()

       Unnamed: 0      Group        Day         Size
count   14.000000  14.000000  14.000000    14.000000
mean   232.428571   2.142857  19.928571  2216.607143
std    151.115704   1.027105   5.784120   117.975339
min     43.000000   1.000000  13.000000  2046.700000
25%     90.000000   1.000000  14.250000  2133.175000
50%    257.500000   2.000000  21.000000  2175.750000
75%    335.250000   3.000000  24.750000  2330.925000
max    523.000000   4.000000  28.000000  2405.700000