In [1]:
import pandas as pd
import numpy as np

In [3]:
tumor = pd.read_csv("data/tumorgrowth_long.csv")
tumor

,Group,Grp,ID,0,1,2,3,4,5,6,...,19,20,21,22,23,24,25,26,27,28
0,1,1.CTR,101,41.8,NaN,NaN,85.0,114.0,162.3,178.3,...,1609.3,1678.3,1564.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1.CTR,102,79.4,110.3,NaN,NaN,201.3,255.3,349.1,...,1262.2,1336.8,1563.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,1.CTR,103,44.8,67.5,55.8,82.8,106.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,1.CTR,104,67.7,92.4,77.7,107.4,147.1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,1.CTR,105,54.7,NaN,NaN,61.1,75.3,112.5,117.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1,1.CTR,106,60.0,74.2,98.9,103.3,106.4,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,1.CTR,107,46.8,NaN,NaN,NaN,162.6,264.5,253.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1,1.CTR,108,49.4,NaN,NaN,NaN,123.2,286.5,484.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2,2.D,201,49.1,NaN,NaN,65.6,88.9,135.4,171.9,...,1157.6,1069.7,1194.4,NaN,NaN,1725.8,1524.9,1737.7,1998.3,NaN
9,2,2.D,202,60.6,75.7,75.8,NaN,158.7,NaN,NaN,...,NaN,NaN,NaN,2046.7,NaN,NaN,NaN,NaN,NaN,NaN
10,2,2.D,203,41.5,41.8,43.2,46.0,48.7,NaN,NaN,...,NaN,NaN,NaN,1938.5,NaN,NaN,NaN,NaN,NaN,NaN
11,2,2.D,204,46.8,46.4,48.8,56.7,113.9,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2,2.D,205,39.5,NaN,NaN,71.2,62.4,84.8,88.6,...,1279.0,1582.3,1701.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,2,2.D,206,53.5,41.2,52.2,61.6,77.1,NaN,NaN,...,NaN,NaN,NaN,1108.6,1321.0,1624.3,1853.5,NaN,NaN,NaN
14,2,2.D,207,43.5,50.2,56.5,NaN,NaN,87.0,53.5,...,163.0,172.4,162.5,NaN,223.7,NaN,NaN,NaN,416.0,445.2
15,2,2.D,208,64.4,63.9,76.3,85.8,186.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2,2.D,209,47.5,48.6,75.1,77.7,128.0,NaN,NaN,...,NaN,NaN,1380.3,1507.9,1767.9,NaN,2269.3,NaN,NaN,NaN
17,2,2.D,210,71.7,NaN,NaN,134.0,172.2,247.4,239.4,...,1203.9,1123.9,NaN,NaN,1302.3,1654.0,1697.6,NaN,2114.6,NaN
18,3,3.R,301,44.1,NaN,NaN,104.2,129.3,304.9,533.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,3,3.R,302,42.1,NaN,NaN,98.7,59.7,80.2,87.8,...,920.7,1003.3,920.7,NaN,NaN,NaN,1584.5,1734.4,1760.5,2362.4
20,3,3.R,303,42.5,NaN,NaN,49.8,58.5,69.3,97.4,...,603.7,646.5,649.3,NaN,NaN,NaN,1044.8,1219.9,1316.1,1714.0
21,3,3.R,304,56.9,NaN,NaN,129.6,106.2,120.6,170.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,3,3.R,305,46.7,50.9,59.2,NaN,NaN,139.8,159.3,...,NaN,650.5,979.3,761.1,853.0,NaN,NaN,1518.8,2157.4,NaN
23,3,3.R,306,51.2,88.5,128.7,NaN,NaN,315.7,326.7,...,NaN,2159.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,3,3.R,307,44.0,NaN,NaN,84.1,80.1,66.8,90.0,...,909.4,1071.8,988.0,NaN,NaN,NaN,1970.2,NaN,NaN,NaN
25,3,3.R,308,59.8,NaN,NaN,NaN,84.0,277.2,612.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,3,3.R,309,40.7,NaN,NaN,63.5,55.9,89.1,98.7,...,656.5,737.5,721.4,NaN,NaN,902.4,776.4,882.6,865.8,1065.0
27,3,3.R,310,58.2,73.1,91.0,86.9,NaN,NaN,375.7,...,NaN,1690.8,1764.8,1754.0,1964.6,2188.7,NaN,NaN,NaN,NaN
28,4,4.D+R,401,41.3,63.4,102.6,NaN,130.0,NaN,NaN,...,NaN,NaN,NaN,NaN,1577.1,1904.1,NaN,NaN,NaN,NaN
29,4,4.D+R,402,53.5,60.9,NaN,NaN,117.0,122.7,47.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,4,4.D+R,403,45.8,57.4,46.3,NaN,NaN,118.3,209.0,...,NaN,898.8,887.2,814.5,779.7,NaN,NaN,828.9,588.6,543.3
31,4,4.D+R,404,48.2,60.3,59.3,90.6,66.7,NaN,NaN,...,NaN,NaN,NaN,802.1,766.2,657.1,619.2,NaN,NaN,810.7
32,4,4.D+R,405,47.7,NaN,NaN,98.2,92.8,145.1,167.0,...,672.7,651.5,785.3,NaN,NaN,972.4,786.5,976.6,1070.9,1109.9
33,4,4.D+R,406,69.2,69.5,NaN,NaN,144.8,224.4,319.8,...,1685.4,1827.0,NaN,2343.0,NaN,NaN,NaN,NaN,NaN,NaN
34,4,4.D+R,407,43.9,58.5,45.6,NaN,77.9,NaN,NaN,...,NaN,NaN,NaN,NaN,769.1,760.4,760.4,NaN,NaN,NaN
35,4,4.D+R,408,59.3,92.6,92.5,NaN,169.3,NaN,NaN,...,NaN,NaN,NaN,NaN,495.5,523.3,523.3,NaN,NaN,NaN
36,4,4.D+R,409,51.1,NaN,NaN,78.0,107.4,128.0,167.3,...,940.6,1057.0,1107.6,NaN,NaN,1694.2,1423.6,NaN,NaN,NaN

In [6]:
tumor_tidy = tumor.melt(
    id_vars = ["Group", "Grp", "ID"],
    var_name = "day",
    value_name = "size"
)

In [16]:
avg_mean = (tumor_tidy
    .groupby(["Group", "day"])
    .agg(avg = ("size", "mean"))
    .reset_index()
    .assign(day = pd.to_numeric(tumor_tidy["day"]))
    .sort_values(["Group", "day"])
)
avg_mean

     Group  day          avg
0        1    0    55.575000
1        1    0    86.100000
2        1    0   617.720000
3        1    0   886.900000
4        1    0  1304.540000
..     ...  ...          ...
111      4    3   147.700000
112      4    3   182.160000
113      4    3   222.977778
114      4    3   308.883333
115      4    3   297.060000

[116 rows x 3 columns]